# =====================
# .NET / Visual Studio
# =====================
bin/
obj/
.vs/
*.user
*.suo

# =====================
# Node / Angular
# =====================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# =====================
# IDE
# =====================
.vscode/

# =====================
# Logs
# =====================
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db